* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }

  /* NAVBAR */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14481C;
    padding: 10px;
    height: 90px;
  }

  .navbar-left {
    padding-left: 40px;
  }
  
  .navbar-left a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    top: 0;
    white-space: nowrap;
    width: 113px;
  }
  
  .navbar-center {
    color: #fff;
    font-weight: bold;
  }

  .logo {
    color: #ffffff;
    font-family: "IvyMode-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    height: 52px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
    margin-right: 400px;
  }

  .navbar-right {
    padding-right: 21px;
  }
  
  .navbar-right a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    top: 0;
    white-space: nowrap;
    width: 113px;
  }

/* END OF NAV */

.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}