* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }

  .title {
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: normal;
    height: 56px; 
    width: 755px;
    margin-top: 70px;
  }
  
  .underline {
    content: '';
    display: block;
    width: 93%; 
    height: 1px;
    background-color: black; 
    margin: 0 auto; 
    margin-top: 5px; 
  }

  /* NAVBAR */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14481C;
    padding: 10px;
    height: 90px;
  }

  .navbar-left {
    padding-left: 40px;
  }
  
  .navbar-left a {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    top: 0;
    white-space: nowrap;
    width: 113px;
  }
  
  .navbar-center {
    color: #fff;
    font-weight: bold;
  }

  .logo {
    color: #ffffff;
    font-family: "IvyMode-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    height: 52px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
    margin-right: 400px;
  }

  .navbar-right {
    padding-right: 21px;
  }
  
  .navbar-right a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    top: 0;
    white-space: nowrap;
    width: 113px;
  }
  
  /* INTRO HERO */
  .hero {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #fffaee;
    height: 812px;
    /* padding: 20px; */
  }
  
  .left-side {
    flex: 1;
    padding: 146px 0 0 100px;
  }

  #tagline {
    color: #1b291e;
    font-family: "GTF Riposte TRIAL-Regular", Helvetica;
    font-size: 72px;
    font-weight: 400;
    height: 146px;
    left: 0;
    letter-spacing: -1.44px;
    line-height: 72px;
    top: 0;
    width: 557px;
  }

  #about-intro {
    color: #282828;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    top: 0;
    width: 533px;
    padding: 36px 0 26px 0;
  }
  
  .aboutBtn {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
    padding-top: 26px;
  }

  #hero-img {
    height: 632px;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 644px;
  }

  .right-side {
    flex: 1;
    padding-top: 100px;
  }
  
  .pill-button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: forestgreen;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* COOKING REELS SECTION */
  .cooking-reels {
    background-color: #fff;
    padding: 20px;
    position: relative;
  }

  .reel-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .reel-container::-webkit-scrollbar {
    display: none;
  }

  .reel-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }

  .reel-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .reel-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }

  .reel-card:hover .card-btn {
    opacity: 1;
  }

  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }

  .reel-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }

  .reel-food {
    text-transform: uppercase;
  }

  .reel-desc {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }

  .previous,
  .next {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 8;
  }

  .previous {
    left: 0;
  }

  .next {
    right: 0;
  }

  .previous img,
  .next img {
    opacity: 0.2;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  /* COOKING VIDEOS SECTION */
  .cooking-videos {
    background-color: #fff;
    text-align: center;
    padding: 20px;
  }

  .videos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }

  .video {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 calc(50% - 20px);
      margin-bottom: 20px;
  }

  .video iframe {
      max-width: 100%;
  }

  .centered-button {
      display: inline-flex;
      gap: 15px;
      align-items: center;
      margin-top: 20px;
      border: 1px solid;
      padding: 20px 35px;
      letter-spacing: 0;
      line-height: normal;
      border-radius: 40px;
      font-weight: 400;
      font-size: 18px;
      height: 18px;
      color: #000000;
  }

  /* RECIPES SECTION */
  .recipes {
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  .recipe-container {
    display: flex;
    justify-content: center;
    /* position: relative; */
  }

  .recipe-card {
    display: flex;
  }
  .recipes-categories {
    background-color: #fff;
  }

  .recipe-thumb {
    height: 562px;
    width: 755px;
  }

  .recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFCF4;
    width: 557px;
    padding-left: 62px;
  }

  .recipe-name {
    height: 123px;
    width: 379px;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .recipe-short-description {
    height: 72px;
    width: 387px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .cardBtn {
    color: #ffffff;
    background-color: #000000;
    border-radius: 100px;
    width: 185px;
    padding: 23px 27px;
    gap: 17px;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0;
  }

  .pre-btn, .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 8;
  }

  .pre-btn {
    left: 0;
    /* transform: rotate(180deg); */
  }

  .nxt-btn {
    right: 0;
  }

  .pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

  /* RECIPE CATEGORIES */
  .recipes-categories {
    background-color: #fff;
  }

  .category-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-left: 20px;
  }

  .category-item {
    width: calc(50% - 20px);
    height: 34px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
  }

  .category-item h3 {
    margin-right: 10px;
    text-wrap: nowrap;
  }

  .recCatSpan {
    padding-left: 387px;
  }

  /* NEWSLETTER */
  .newsletter {
    background-color: #253D29;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsText {
    width: 589px;
    height: 76px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0;
    line-height: 27px;
    padding-top: 15px;
  }

  .newsBtn {
    width: 223px;
    height: 75px;
    font-weight: 400;
    font-size: 22px;
    color: #2e2e2e;
    background-color: #e7f974;
    letter-spacing: 0;
    line-height: normal;
  }

  .bigNews {
    width: 935px;
    height: 73px;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    letter-spacing: 0;
    line-height: normal;
  }
  
  /* FOOTER */
  footer {
    display: flex;
    background-color: #FFFCF4;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 103px;
  }

  .logo-footer {
    width: 200px;
    height: 33px;
    color: #2e2e2e;
    font-size: 40px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: normal;
  }

  .footer-leftCenter, .footer-rightCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
  }
  
  .footer-leftCenter > a, .footer-rightCenter > a {
    text-decoration: none;
    color: #000000;
  }
  
  .footer-right p {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
  }
  
  .footer-right a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
  } 

